.main {
    background-color: #eee;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.main-title {
    margin: 5vmin auto;
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50vmin;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 30vmax;
    height: 30vmin;

    border: 2px solid #aaa;
    border-radius: 15px;
    padding: 1%;

    background-color: #ccc;
}

.name {
    max-width: 20vmax;
}

.form-control {
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: 10px;
    min-width: 20vw;
    text-align: center;
    background-color: #fff;
}

.btn {
    background-color: #007bff;
    border: 0px solid black;
    width: 5vw;
    border-radius: 5px;
    color: white;
}

.btn:hover {
    cursor: pointer;
}

.btn-holder {
    display: flex;
    justify-content: space-around;
    width: 12vmax;
    height: 6vmin;
}

#bell-icon {
    position: fixed;
    right: 5vmax;
    top: 8vmin;
    font-size: 30px;
}

#bell-icon:hover {
    cursor: pointer;
    transition: 0.2s;
    color: #aaa;
}